@import 'bootstrap/dist/css/bootstrap.css';
.todo{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list{
  background-color: #aef6c7;
  width: 80%;
  height: 200px;
  text-align: center;
  position: relative;
  padding: 20px;
  display: inline-block;
  margin: 0 auto;
  border-bottom: none;
  border-style: solid;
}

.singleTask{
  background-color:#ef8354;
  width: 75%;
  text-align: center;
  border-style: solid;
}

.task-btn{
  color: #000;
  background-color: #df3b57;
  padding: 6px 25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  margin-left: 20px;
}

.taskBox{
  width: 400px;
  height: 40px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.timeBox{
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 8px;
  margin-bottom: 8px;
}

.priorityLabel{
  font-family: 'Montserrat', sans-serif;
  margin-right: 8px;
  margin-left: 8px;
}

.priority{
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  height: 20px;
  font-size: 16px;
}

.tasks{
  background-color: #ef8354;
  width: 80%;
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  margin: 0 auto;
  border-style: solid;
  border-top: 0cm;
}

.done-check{
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.delete-btn{
  background-color: #df3b57;
  font-family: 'Bebas Neue', cursive;
  float: left;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 80px;
}

.listed-task{
  float: left;
  margin-left: 8px;
  margin-right: 20px;
  font-size: 30px;
}

.taskCheckIn{
  background-color: black;
  font-family: 'Bebas Neue', cursive;
  color: #edf7b5;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 80px;
  float: left;
}

.taskCheckOut{
  background-color: black;
  font-family: 'Bebas Neue', cursive;
  color: #edf7b5;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 80px;
  float: left;
}

.row{
  padding: 10px;
}
