<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
</head>

<h1>Check It Off</h1>
<h2>What do you need to get done today?</h2>

<div class="todo">
	<form [formGroup]="todoList" (ngSubmit)="onSubmit()" class="list">
    <input type="text" id="task" name="task" formControlName="task" placeholder="task" class="taskBox">
    <br>
    <input type="text" id="timeEstimation" name="timeEstimation" formControlName="timeEstimation" placeholder="time estimate" class="timeBox" >
    <label for="priority" class="priorityLabel">Priority:</label>
    <select name="priority" id="priority" formControlName="priority" class="priority">
      <option value="high">High</option>
      <option value="low">Low</option>
    </select>
    <br>
    <button class="task-btn">Add Task</button>
	</form>

  <div class="tasks">
    <div class="Row">
      <!-- <div class="listed-task">{{task}}</div> -->
      <div *ngFor="let x of taskList; let index=index;"
      class="row mt-1" style="height:100px;">
        <div class="Row">
          <input type="checkbox" value="Done" class="done-check">
          <div class="listedTask">{{x}}</div>
          <button class="taskCheckIn">check-in</button>
          <button class="taskCheckOut">check-out</button>
          <button class="delete-btn">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>Thanks for visiting happy-dev!</p>
</div>
