<div class="header">
  <h1>
    We're so happy that you're here!
  </h1>
  <p>
    happy-dev is a productivity application with a twist! Track your to-do lists, time spent on work tasks (or personal tasks) and how effective you are in completing daily tasks, while also measuring a developer's happiness levels. Being a software developer can be hard...you can use happy-dev to help with work tasks, while also measuring your happiness levels, detecting your interest in projects, and analyzing your satisfaction with work, overall.
  </p>
</div>
