<div class="topnav">
  <a routerLink="/">Home</a>
  <a routerLink="/timer">Timer</a>
  <a routerLink="/happiness">Happiness</a>
  <a routerLink="/todo">ToDo</a>
</div>

<div>
  <article>
    <header>
      <h1> Welcome to Happy-Dev</h1>
    </header>
    <section>
      <p>Making productive developers happier</p>
    </section>
    <!-- <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/timer">Timer</a></li>
        <li><a routerLink="/happiness">Happiness</a></li>
        <li><a routerLink="/todo">ToDo</a></li>
      </ul>
    </nav> -->
  </article>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>


