h1{
  font-size: 40px;
  color: #df3b57;
  font-weight: bold;
}

p{
  font-size: 20px;
  text-align: center;
}

.header {
  padding: 40px;
  text-align: center;
  background: #ef8354;
  color: #ffffff;
  font-size: 20px;
  height: 500px;
}

.footer{
  background-color: #edf7b5;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  color: #df3b57;
  font-weight: bold;
  height: 60px;
  font-size: 14px;
  text-align: left;
}

.description{
  background-color: #0f7173;
  height: 300px;
  padding: 50px;
  font-size: 30px;
}
