.homePage{
  width: 80%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  background-color: #ef8354;
}

.description{
  background-color: #aef6c7;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  border-style: solid;
}
