<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
</head>

<h1>happy-dev</h1>

<h2>Creating happy (and productive) developers</h2>

<div class="homePage">
  <h3>happy-dev is a productivity application with a twist! Track your to-do lists,
    time spent on work tasks (or personal tasks) and how effective you are in completing daily tasks,
    while also measuring a developer's happiness levels. Being a software developer can be hard...
    you can use happy-dev to help with work tasks, while also measuring your happiness levels, detecting your
    interest in projects, and analyzing your satisfaction with work, overall.</h3>
</div>
