<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
</head>

<div class="happiness">
  <h1>Pursue Happiness</h1>

  <h2>Take our daily happiness quiz to determine how satisified you are as a developer</h2>

  <form class="quiz">
    <h3>Productivity</h3>
    <p>How often were you on your phone today?</p>
    <input type="radio" id="never" name="productivity_1">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="productivity_1">
    <label for="rarelt">rarely</label>
    <input type="radio" id="sometimes" name="productivity_1">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="productivity_1">
    <label for="frequently">frequently</label>

    <p>How often did you spend time on the internet, not relating to work tasks?</p>
    <input type="radio" id="never" name="productivity_2">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="productivity_2">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="productivity_2">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="productivity_2">
    <label for="frequently">frequently</label>

    <p>I made progress on my project tasks today</p>
    <input type="radio" id="stronglyDisagree" name="productivity_3">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="productivity_3">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="productivity_3">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="productivity_3">
    <label for="stronglyAgree">strongly agree</label>

    <p>I perservered in my work today, even when I encountered tasks that I did not know how to complete</p>
    <input type="radio" id="stronglyDisagree" name="productivity_4">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="productivity_4">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="productivity_4">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="productivity_4">
    <label for="stronglyAgree">strongly agree</label>

    <p>How often did you feel lost/confused on your current tasks today?</p>
    <input type="radio" id="never" name="productivity_5">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="productivity_5">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="productivity_5">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="productivity_5">
    <label for="frequently">frequently</label>

    <h3>Satisfaction</h3>
    <p>I know what my strengths are regarding the project that I am currently working on</p>
    <input type="radio" id="stronglyDisagree" name="satisfaction_1">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="satisfaction_1">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="satisfaction_1">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="satisfaction_1">
    <label for="stronglyAgree">strongly agree</label>

    <p>I looked forward to starting work today</p>
    <input type="radio" id="stronglyDisagree" name="satisfaction_2">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="satisfaction_2">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="satisfaction_2">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="satisfaction_2">
    <label for="stronglyAgree">strongly agree</label>

    <p>I believe that the project I am working on serves a greater purpose</p>
    <input type="radio" id="stronglyDisagree" name="satisfaction_3">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="satisfaction_3">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="satisfaction_3">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="satisfaction_3">
    <label for="stronglyAgree">strongly agree</label>

    <p>My work today contributed to my personal growth</p>
    <input type="radio" id="stronglyDisagree" name="satisfaction_4">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="satisfaction_4">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="satisfaction_4">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="satisfaction_4">
    <label for="stronglyAgree">strongly agree</label>

    <p>How often did you feel interested in the tasks you were working on for the day?</p>
    <input type="radio" id="never" name="satisfaction_5">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="satisfaction_5">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="satisfaction_5">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="satisfaction_5">
    <label for="frequently">frequently</label>

    <p>I find my current project tasks to be engaging and interesting</p>
    <input type="radio" id="stronglyDisagree" name="satisfaction_6">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="satisfaction_6">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="satisfaction_6">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="satisfaction_6">
    <label for="stronglyAgree">strongly agree</label>

    <h3>Working Relationships</h3>
    <p>How often did you interact with your coworkers today?</p>
    <input type="radio" id="never" name="relationship_1">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="relationship_1">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="relationship_1">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="relationship_1">
    <label for="frequently">frequently</label>

    <p>How often did you help your coworkers today?</p>
    <input type="radio" id="never" name="relationship_2">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="relationship_2">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="relationship_2">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="relationship_2">
    <label for="frequently">frequently</label>

    <p>I felt supported by my work colleagues today</p>
    <input type="radio" id="never" name="relationship_3">
    <label for="never">strongly disagree</label>
    <input type="radio" id="rarely" name="relationship_3">
    <label for="rarely">disagree</label>
    <input type="radio" id="sometimes" name="relationship_3">
    <label for="sometimes">agree</label>
    <input type="radio" id="frequently" name="relationship_3">
    <label for="frequently">strongly agree</label>

    <p>I enjoyed talking with my coworkers about my project tasks today</p>
    <input type="radio" id="stronglyDisagree" name="relationship_4">
    <label for="stronglyDisagree">strongly disagree</label>
    <input type="radio" id="disagree" name="relationship_4">
    <label for="disagree">disagree</label>
    <input type="radio" id="agree" name="relationship_4">
    <label for="agree">agree</label>
    <input type="radio" id="stronglyAgree" name="relationship_4">
    <label for="stronglyAgree">strongly agree</label>

    <p>How often did you ask your coworkers for help on tasks that you did not understand?</p>
    <input type="radio" id="never" name="relationship_5">
    <label for="never">never</label>
    <input type="radio" id="rarely" name="relationship_5">
    <label for="rarely">rarely</label>
    <input type="radio" id="sometimes" name="relationship_5">
    <label for="sometimes">sometimes</label>
    <input type="radio" id="frequently" name="relationship_5">
    <label for="frequently">frequently</label>

    <br>

    <button class="done-btn">
			Done
		</button>
  </form>

</div>
